@import "https://meyerweb.com/eric/tools/css/reset/reset.css";
@import "var.scss";

body{
    display: flex;
    background-color: $color2;
    width: 100vw;
    min-height: 100vh;
}

header{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 5rem;
    background: $color2;
    font-family: "Helvetica Neue", sans-serif;
    background-color: $color3;
    align-items: flex-start;
    justify-content: space-between;
}

.logo{
    width: 50px;
}

h1{
    font-family: "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 35px;
    line-height: 60px;
    color: $color1;
    padding-top: 2%;
    padding-bottom: 1rem;
}

.separateur{
    background: $color1;
    width: 20rem;
    min-height: 0,5px;
    margin: 1rem 0;
}

.info1{
    font-family: "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 36px;
    color: $color1;
    padding-top: 1rem;
}

.info2{
    font-family: "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 36px;
    color: $color1;

}

.info3{
    font-family: "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 36px;
    color: $color1;
    padding-bottom: 1em;
}

.portfolio{
    font-family: "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 20px;
    line-height: 36px;
    color: $color1;
}


.links{
    display: flex;
    flex-direction: column;
}


a{
    color: inherit;
    text-decoration: none;
    font-family: "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 36px;
    color: $color1;
}

.arrow{
    padding-left: 2rem;
    align-items: flex-end;
}

#a2{
    padding-left: 54px;
}

#a3{
    padding-left: 44px;
}

.about{
    display: flex;
    align-items: center;
}

p{
    font-family: "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
    color: $color1;
}

.email{
    font-family: "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 30px;
    line-height: 48px;
    border-bottom:1px solid $color1;

}

.index-content{
    display: flex;
    padding: 5rem;
    flex: 5;
    position: relative;
    justify-content: center;
}

.portfolio-content{
    display: flex;
    padding: 5rem;
    flex: 5;
    position: relative;
    justify-content: center;
}


.bg1{
    position: absolute;
    bottom: 170px;
    right: 0px;
    width: 200px;
    
}

.bg2{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 350px;
}

.card{
    width: 485px;
    height: 242px;
    background-color: $color2;
}





@media only screen 
    and (max-device-width: 480px) {

    body{
        min-height: 100vh;
        width: 100vw;
    }
    
    header{
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 5rem;
        font-family: "Helvetica Neue", sans-serif;
        align-items: flex-start;
        justify-content: space-between;   
        background-color: $color2;
    }
    
    .logo{
        width: 50px;
        margin-top: 20px;
    }
    
    h1{
        font-family: "Helvetica Neue", sans-serif;
        font-style: normal;
        font-weight: 100;
        font-size: 35px;
        line-height: 60px;
        color: $color1;
        padding-top: 2%;
        padding-bottom: 1rem;
    }
    
    .separateur{
        background: $color1;
        width: 20rem;
        min-height: 0,5px;
        margin: 1rem 0;
    }
    
    .info1{
        font-family: "Helvetica Neue", sans-serif;
        font-style: normal;
        font-weight: 100;
        font-size: 20px;
        line-height: 36px;
        color: $color1;
        padding-top: 1rem;
    }
    
    .info2{
        font-family: "Helvetica Neue", sans-serif;
        font-style: normal;
        font-weight: 100;
        font-size: 20px;
        line-height: 36px;
        color: $color1;
    
    }
    
    .info3{
        font-family: "Helvetica Neue", sans-serif;
        font-style: normal;
        font-weight: 100;
        font-size: 20px;
        line-height: 36px;
        color: $color1;
        padding-bottom: 1em;
    }
    
    
    .links{
        display: flex;
        flex-direction: column;
    }
    
    
    a{
        color: inherit;
        text-decoration: none;
        font-family: "Helvetica Neue", sans-serif;
        font-style: normal;
        font-weight: 100;
        font-size: 20px;
        line-height: 36px;
        color: $color1;
    }
    
    .arrow{
        padding-left: 2rem;
        align-items: flex-end;
    }
    
    #a2{
        padding-left: 54px;
    }
    
    #a3{
        padding-left: 44px;
    }

    .index-content{
        display: none;
    }
}